# Masukan APP ID ambil di web my.telegram.org
API_ID = "17268"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "eb06d4abfb49dc3eeb1aeb98ae0f581e"

# Masukan String Pyrogram Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = ""

# Masukkan HNDLR Untuk buat cmd play
HNDLR = "!"

# Masukkan Id Akun Kamu 
SUDO_USERS = "2010825200"
